@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=InaiMathidisplay=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.heading-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
}

.header {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  color: white;
  background-color: #3c3a39;
  text-decoration: none;
  padding: 20px;
}

body {
  background-color: #1c1a19;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.logo {
  color: white;
  text-decoration: none;
}

.heading {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  margin: 30% 0 0;
  font-style: normal;
}

.describe {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  align-items: center;
}

.headline {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  margin: 10% 0 10%;
}

/* This is the social styling */

.social {
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
}

.social-icons {
  padding-right: 10px;
  align-items: center;
}

.works {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
}

.recent-works {
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  margin-top: 70px;
  color: #091e42;
  line-height: 52px;
}

hr {
  color: black;
  background-color: black;
  width: 327px;
  height: 0;
  margin-bottom: 60px;
}

.Stories {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  margin-top: 26px;
  margin-bottom: 10px;
  line-height: 44px;
}

.work-words {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #091e42;
  line-height: 24px;
}

.languages {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.language-icons {
  align-items: center;
  margin: 10px;
}

.button {
  list-style-type: none;
  margin: 0;
}

.About-me {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
  background-image: url(images/aboutmebackground.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 120px;
}

.about {
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 70px;
  margin-bottom: 10px;
}

.about-words {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 10px;
}

.resume-button {
  margin-top: 10px;
  margin-bottom: 150px;
  padding-left: 0;
}

.about-break {
  color: white;
  background-color: white;
  width: 327px;
  height: 0;
  background-position-y: bottom;
}

.myskills {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  justify-content: center;
}

.language {
  font-family: 'InaiMathi', sans-serif;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  row-gap: 20px;
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  flex-direction: column;
  column-gap: 20px;
}

.skillset {
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 10px;
}
