@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=InaiMathidisplay=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.heading-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
}

.header {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  color: white;
  background-color: #3c3a39;
  text-decoration: none;
  padding: 20px;
}

body {
  background-color: #1c1a19;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.logo {
  color: white;
  text-decoration: none;
}

.heading {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  margin: 30% 0 0;
  font-style: normal;
}

.describe {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  align-items: center;
}

.headline {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  margin: 10% 0 10%;
}

/* This is the social styling */

.social {
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
}

.social-icons {
  padding-right: 10px;
  align-items: center;
}

.works {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
}

.recent-works {
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  margin-top: 70px;
  color: #091e42;
  line-height: 52px;
}

hr {
  color: black;
  background-color: black;
  width: 327px;
  height: 0;
  margin-bottom: 60px;
}

.bgimage {
  background-image: url(images/works.png);
  background-repeat: no-repeat;
  background-position: center;
  border: inset 170px transparent;
  box-sizing: border-box;
}

.Stories {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  margin-top: 26px;
  margin-bottom: 10px;
  line-height: 44px;
}

.work-words {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #091e42;
  line-height: 24px;
}

.languages {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.language-icons {
  align-items: center;
  margin: 10px;
}

li {
  list-style-type: none;
}

.button {
  margin: 0;
  background-color: #ff6b00;
  width: 320px;
  padding: 10px;
  border: 1px solid;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.button:hover {
  background-color: #ff6b00;
}

.Professional {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
}

.heading5 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.art-words {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.f-item{
  display: flex;
  flex-direction: row;
}

.icon2 {
  align-items: center;
  margin: 10px;
}

.button2 {
  margin: 0;
  background-color: #ff6b00;
  width: 100%;
  height: 48px;
  padding: 10px;
  border: 1px solid;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  position: absolute;
  left: 0%;
}

.About-me {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
  background-image: url(images/aboutmebackground.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 120px;
}

.about {
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 70px;
  margin-bottom: 10px;
}

.about-words {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 10px;
}

.resume-button {
  margin-top: 10px;
  margin-bottom: 150px;
  padding-left: 0;
}

.about-break {
  color: white;
  background-color: white;
  width: 327px;
  height: 0;
  background-position-y: bottom;
}

.myskills {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  justify-content: center;
}

.language {
  font-family: 'InaiMathi', sans-serif;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  row-gap: 20px;
}

.tech {
  padding-left: 10px;
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  flex-direction: column;
  column-gap: 20px;
}

.skillset {
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.form{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px 20px;
}

.form-words{
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172B4D;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.form1{
  padding: 0 24px;
  width: 100%;
}

.form-item{
  margin: 20px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  list-style-type: none;
  text-align: center;
}

input {
  border-bottom: 1px solid #dbd8d7 !important;
}

textarea{
  /* box-sizing: border-box;
  border: 1px solid black; */
  background-color: #e5e5e5;
  min-height: 114px;
}

input,
textarea {
  width: 100%;
  outline: 0;
  border: none;
  font-family: 'Inter', sans-serif;
  padding: 16px;
}



.button3{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 10px;
  background-color: #ff6b00;
  width: 131px;
  height: 48px;
  padding: 10px;
  border: none;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: white;
  position: bottom;
  height: 72px;
}

.socials1{
  display: flex;
  align-items: center;
  position: bottom;
  margin-left: 80px;
}

ul {
  padding: 0;
}

.social-icon {
  padding-right: 20px;
  align-items: center;
}

/* .break{
  color: #DFE1E6;
  background-color: #DFE1E6;
  width: 100%;
  height: 1px;
  margin: 0px;
  margin-top: 70px;
}  */

.break1{
  width: 134px;
  height: 5px;
  margin: 0 auto;
  bottom: 8px;
  background-color: black;
  border-radius: 10px
}

.btn-container{
  display: flex;
  justify-content: center;
}
